@font-face {
  font-family: 'cmu';
  src: url('./fonts/cmu.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'cmu-bold  ';
  src: url('./fonts/cmu-bold.ttf') format('truetype');
}


@font-face {
  font-family: 'polysans';
  src: url('./fonts/PolySans-Relax.woff2') format('truetype');
}

@font-face {
  font-family: 'poly';
  src: url('./fonts/PolySans-Slim.woff2') format('truetype');
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
  background-color: #5b0f0f;
  position: relative;
}

h1 {
  font-family: 'polysans', 'Times New Roman', Times, serif;
  font-size: 5vw;
  justify-content: left;
  align-items: top;         /* Centers vertically */
  height: 100%;               /* Full viewport height */
  color: rgb(175, 255, 172);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adds a subtle shadow for better readability */
}

p {
  font-family: 'poly', 'Times New Roman', Times, serif;
  font-size: 1vw;
  justify-content: left;
  align-items: top;         /* Centers vertically */
  color: rgb(175, 255, 172);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adds a subtle shadow for better readability */
}

img {
  justify-self: center;
  align-self: center;
  max-width: 40vw;               /* Image won't overflow */
  object-fit: cover;
  margin-bottom: 100vw;  /* Adjust this number to move it down */
}


footer {
  position: fixed;              /* Sticks to viewport */
  bottom: 0%;            
  width: 100%;
  display: flex;
  gap: 20px;                    /* Space between buttons */
  justify-content: center;
  background: transparent;      /* See-through */
  padding: 20px;
}

button {
  background: transparent;
  border: 0.5px solid var(--color-border-secondary);  /* Just an outline */
  padding: 30px 80px;
  transition: all 0.2s ease;   /* Smooth animation */
  font-family: 'cmu', 'Times New Roman', Times, serif;
  font-size: 20px;
  color:rgb(175, 255, 172)
}

button:hover {
  font-family: 'cmu-bold', 'Times New Roman', Times, serif;  /* Switch to bold on hover */
  color: #00ff11;
  font-style: bold;
}
