@font-face {
  font-family: 'cmu';
  src: url('./fonts/cmu.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

body {
  display: flex;               /* Activates flexbox layout */
  justify-content: center;     /* Centers horizontally */
  align-items: center;         /* Centers vertically */
  height: 100vh;               /* Full viewport height */
  padding-bottom: 80px;        /* Makes room for fixed footer */
}

img {
  max-width: 30%;               /* Image won't overflow */
  cursor: grabbing;
}

footer {
  position: fixed;              /* Sticks to viewport */
  bottom: 0;                    /* Pins to bottom */
  width: 100%;
  display: flex;
  gap: 20px;                    /* Space between buttons */
  justify-content: center;
  background: transparent;      /* See-through */
  padding: 20px;
}

button {
  background: transparent;
  border: 0.5px solid var(--color-border-secondary);  /* Just an outline */
  padding: 10px 20px;
  transition: all 0.2s ease;   /* Smooth animation */
  font-family: 'cmu', 'Times New Roman', Times, serif;
  font-size: 16px;
  color:rgb(76, 0, 255)
}

button:hover {
  background: var(--color-background-secondary);      /* Fills on hover */
}