
html {
    visibility: hidden;
}

@font-face {
  font-family: 'Imbue';
  src: url('./fonts/Imbue.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'InstrumentSerif';
  src: url('./fonts/InstrumentSerif-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'things';
  src: url('./fonts/things.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('./fonts/PlayfairDisplay.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WindsorElongated';
  src: url('./fonts/WindsorElongated.ttf') format('truetype');
  font-weight: 100px;
  font-style: normal;
}

body {
    font-family: serif;
    background-color: #f1ffe6;
    color: #013101;
    padding: 20px 20px;

}    

