
html {
    visibility: hidden;
}

@font-face {
  font-family: 'Imbue';
  src: url('./fonts/Imbue.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'InstrumentSerif';
  src: url('./fonts/InstrumentSerif-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'things';
  src: url('./fonts/things.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('./fonts/PlayfairDisplay.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WindsorElongated';
  src: url('./fonts/WindsorElongated.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: serif;
    background-color: #f2ffd4;
    color: #364100;
    padding: 20px 20px;
    overflow:hidden;
}    

.flair {
  position: fixed;
  opacity: 0;
  width: 50px;
}

  .fancy-link {
      text-decoration: none;
      background-image: linear-gradient(hotpink, hotpink);
      background-size: 0% 2px;
      background-position: 0 100%;
      background-repeat: no-repeat;
      transition: background-size 0.3s ease;
    }

    .fancy-link:hover {
      background-size: 100% 2px;
    }

li:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: hotpink;
    text-decoration-thickness: 2px;
  }



a {
    color: rgb(79, 157, 37);
  }


a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: rgb(14, 99, 14);
    text-decoration-thickness: 2px;
  }


h1 {

    color:rgb(39, 108, 2)
}